{% extends "layout.html" %}
{% block body %}

<div class="clearfix row" id="content">
	<div id="main" class="col-md-12 clearfix" role="main">
		<div class="page-tabs-header">
			<div class="row">
				<div class="col-sm-12 col-md-6 cols-nopad-right">
					<h1><span class="fa fa-fw fa-desktop"></span> {{system['name']}}</h1>
				</div>
				<div class="col-sm-12 col-md-6 cols-nopad-left cols-nopad-right">
					<ul class="nav nav-tabs nav-justified nav-tabs-pattern" id="tabs-pattern" role="tablist">
						<li role="presentation"><a href="{{url_for('system',name=system.name)}}">Overview</a></li>
						<li role="presentation"><a href="{{url_for('system_metadata',name=system.name)}}">Metadata</a></li>
						<li role="presentation"><a href="{{url_for('system_packages',name=system.name)}}">Packages</a></li>
						<li role="presentation"><a href="{{url_for('system_events',name=system.name)}}">Events</a></li>
						<li role="presentation" class="active"><a href="">Backups</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row row-cards-pf">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="card-pf" style="padding: 0px; border-top: none;">

	<table class="table table-striped table-bordered table-hover" id="table1">
	  <thead>
		<tr>
			<th>ID</th>
			<th>Backup start</th>
			<th>Backup end</th>
			<th>Status</th>
		</tr>
	  </thead>

		<tbody>
			{% for backup in backups %}
			<tr>
				<td>{{backup.id}}</td>
				<td>{{backup.start|ut2str}}</td>
				<td>{{backup.end|ut2str}}</td>
				<td class="table-view-pf-actions"><a href="{{url_for('backup',id=backup.id)}}" class="btn {% if backup.status == 0 %}btn-success{% elif backup.status == -1 %}btn-info{% elif backup.status == 1 %}btn-warning{%else%}btn-danger{%endif%}">{% if backup.status == 0 %}Success{% elif backup.status == -1 %}In Progress{% elif backup.status == 1 %}Partial failure{%else%}Failed{%endif%}</a></td>
			</tr>
			{%endfor%}
	</table>

	<form class="content-view-pf-pagination table-view-pf-pagination clearfix" id="pagination1">
	  <div class="form-group">
		<select class="selectpicker pagination-pf-pagesize">
		  <option value="5">5</option>
		  <option value="10" >10</option>
		  <option value="15" selected="selected">15</option>
		  <option value="25">25</option>
		  <option value="50">50</option>
		</select>
		<span>per page</span>
	  </div>
	  <div class="form-group">
		<span><span class="pagination-pf-items-current">1-25</span> of <span class="pagination-pf-items-total">75</span></span>
		<ul class="pagination pagination-pf-back">
		  <li class="disabled"><a href="#" title="First Page"><span class="i fa fa-angle-double-left"></span></a></li>
		  <li class="disabled"><a href="#" title="Previous Page"><span class="i fa fa-angle-left"></span></a></li>
		</ul>
		<label for="pagination1-page" class="sr-only">Current Page</label>
		<input class="pagination-pf-page" type="text" value="1" id="pagination1-page"/>
		<span>of <span class="pagination-pf-pages">5</span></span>
		<ul class="pagination pagination-pf-forward">
		  <li><a href="#" title="Next Page"><span class="i fa fa-angle-right"></span></a></li>
		  <li><a href="#" title="Last Page"><span class="i fa fa-angle-double-right"></span></a></li>
		</ul>
	  </div>
	</form>

	<!-- Blank Slate HTML -->
	<div class="blank-slate-pf table-view-pf-empty hidden" id="emptyState1">
	  <div class="blank-slate-pf-icon">
		<span class="fa fa-fw fa-exclamation-triangle"></span>
	  </div>
	  <h1>
		No backups!
	  </h1>
	  <p>
		I could not find any record of a backup!
	  </p>
	</div>
	
		</div>
	</div>
</div>

<script>
$(document).ready(function()
{
	$("#table1").DataTable(
	{
		dom: "t",
		language: {
			zeroRecords: "No records found"
		},
		order: [[ 0, 'desc' ]],
		pfConfig:
		{
			emptyStateSelector: "#emptyState1",
			paginationSelector: "#pagination1",
			pageSize: 25,
			filterCaseInsensitive: true,
			paginationSelector: "#pagination1",
		}
	});
});
</script>

<script>
// Initialize Datatables
$(document).ready(function() {
$('.datatable').dataTable();
});
</script>


				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
