{% extends "layout.html" %}
{% block body %}

<div class="row row-cards-pf">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="card-pf card-pf-accented">
			<h1 style="padding-bottom: 20px"><span class="fa fa-fw fa-desktop"></span> Systems</h1>
		</div>
	</div>
</div>

<div class="row row-cards-pf">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="card-pf" style="padding: 0px; border-top: none;">

<div class="row toolbar-pf table-view-pf-toolbar" id="toolbar1">
	<div class="col-sm-12">
		<form class="toolbar-pf-actions">
			<div class="form-group toolbar-pf-filter">
				<label class="sr-only" for="filter">Name</label>
				<div class="input-group">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" id="filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Name <span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="#" id="filter1">Name</a></li>
							<li><a href="#" id="filter2">SYS</a></li>
							<li><a href="#" id="filter3">CPU</a></li>
							<li><a href="#" id="filter4">RAM</a></li>
							<li><a href="#" id="filter5">GPU</a></li>
							<li><a href="#" id="filter6">Last address</a></li>
						</ul>
					</div>
					<input type="text" class="form-control" placeholder="Filter By Name..." autocomplete="off" id="filterInput">
				</div>
			</div>
		</form>
		<div class="row toolbar-pf-results">
			<div class="col-sm-9">
				<div class="hidden">
					<h5>0 Results</h5>
					<p>Active filters:</p>
					<ul class="list-inline"></ul>
					<p><a href="#">Clear All Filters</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

	<table class="table table-striped table-bordered table-hover" id="table1">
	  <thead>
		<tr>
			<th></th>
			<th>SYS</th>
			<th>CPU</th>
			<th>RAM</th>
			<th>GPU</th>
			<th>Last seen</th>
			<th>Last seen</th>
			<th>Last address</th>
		</tr>
	  </thead>

		<tbody>
			{% for system in systems %}
			<tr>
				<td class="table-view-pf-actions"><a href="{{url_for('system',name=system.name)}}" class="btn btn-lg btn-default" style="text-align: left"><span class="fa fa-fw fa-search"></span> {{system.name}}</a></td>
				<td>{{system.metadata.hwinfo.sys}}</td>
				<td>{{system.metadata.hwinfo.cpu}}</td>
				<td>{{system.metadata.hwinfo.mem}}</td>
				<td>{{system.metadata.hwinfo.gpu}}</td>
				<td>{{system.last_seen_date}}</td>
				<td>{{system.last_seen_date|dt2uts}}</td>
				<td>{{system.last_seen_addr}}</td>
			</tr>
			{% endfor %}
	</table>

	<form class="content-view-pf-pagination table-view-pf-pagination clearfix" id="pagination1">
	  <div class="form-group">
		<select class="selectpicker pagination-pf-pagesize">
		  <option value="5">5</option>
		  <option value="10" >10</option>
		  <option value="15">15</option>
		  <option value="25" selected="selected">25</option>
		  <option value="50">50</option>
		</select>
		<span>per page</span>
	  </div>
	  <div class="form-group">
		<span><span class="pagination-pf-items-current">1-25</span> of <span class="pagination-pf-items-total">75</span></span>
		<ul class="pagination pagination-pf-back">
		  <li class="disabled"><a href="#" title="First Page"><span class="i fa fa-angle-double-left"></span></a></li>
		  <li class="disabled"><a href="#" title="Previous Page"><span class="i fa fa-angle-left"></span></a></li>
		</ul>
		<label for="pagination1-page" class="sr-only">Current Page</label>
		<input class="pagination-pf-page" type="text" value="1" id="pagination1-page"/>
		<span>of <span class="pagination-pf-pages">5</span></span>
		<ul class="pagination pagination-pf-forward">
		  <li><a href="#" title="Next Page"><span class="i fa fa-angle-right"></span></a></li>
		  <li><a href="#" title="Last Page"><span class="i fa fa-angle-double-right"></span></a></li>
		</ul>
	  </div>
	</form>

	<!-- Blank Slate HTML -->
	<div class="blank-slate-pf table-view-pf-empty hidden" id="emptyState1">
	  <div class="blank-slate-pf-icon">
		<span class="fa fa-fw fa-exclamation-triangle"></span>
	  </div>
	  <h1>
		No systems!
	  </h1>
	  <p>
		No systems have been registered, yet!
	  </p>
	</div>
	
		</div>
	</div>
</div>

<script>
$(document).ready(function() 
{
	$("#table1").DataTable(
	{
		"columnDefs":
		[
			{ 
				"targets": [ 5 ],
				"orderData":[ 6 ],
			},
			{
				"targets": [ 6 ],
				"visible": false,
				"searchable": false
			},
		],

		dom: "t",
		language: {
			zeroRecords: "No records found"
		},
		order: [[ 5, 'desc' ]],
		pfConfig:
		{
			emptyStateSelector: "#emptyState1",
			paginationSelector: "#pagination1",
			pageSize: 25,
			filterCaseInsensitive: true,
			filterCols: [
			{
			default: true,
			optionSelector: "#filter1",
			placeholder: "Filter By Name..."
			}, {
			optionSelector: "#filter2",
			placeholder: "Filter By SYS..."
			}, {
			optionSelector: "#filter3",
			placeholder: "Filter By CPU..."
			}, {
			optionSelector: "#filter4",
			placeholder: "Filter By RAM..."
			}, {
			optionSelector: "#filter5",
			placeholder: "Filter By GPU..."
			}, null, {
			optionSelector: "#filter6",
			placeholder: "Filter By Last address..."
			}],
			paginationSelector: "#pagination1",
			toolbarSelector: "#toolbar1",
		}
	});
});
</script>


<script>
// Initialize Datatables
$(document).ready(function() {
$('.datatable').dataTable();
});
</script>
{% endblock %}
