{% extends "layout.html" %}
{% block modals %}
<div class="modal" data-backdrop="false" tabindex="-1" role="dialog" id="legend">
	<div class="modal-dialog modal-lg modal-dialog-left" role="document">
		<div class="modal-content modal-content-left">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">What do the icons mean?</h4>
			</div>
			<div class="modal-body modal-body-left" style="font-size: 1.2em">
				<h2>Seen status</h2>
				<table style="border-collapse: separate; border-spacing: 10px;">
				<tr><td><span class="fa fa-fw fa-2x fa-check-circle text-success"></span></td><td> OK</td></tr>
				<tr><td><span class="fa fa-fw fa-2x fa-power-off text-info"></span></td><td> Powered off</td></tr>
				<tr><td><span class="fa fa-fw fa-2x fa-question-circle text-warning"></span></td><td> Last seen >3 days ago</td></tr>
				<tr><td><span class="fa fa-fw fa-2x fa-exclamation-circle text-warning"></span></td><td> Last seen >7 days ago</td></tr>
				<tr><td><span class="fa fa-fw fa-2x fa-exclamation-triangle text-danger"></span></td><td> Last seen >28 days ago</td></tr>
				</table>
				<p>&nbsp;</p>
				<h2>Pending Updates</h2>
				<table style="border-collapse: separate; border-spacing: 10px;">
				<tr><td><span class="fa fa-fw fa-2x fa-check-circle text-success"></td><td> No pending updates</td></tr>
				<tr><td><span class="fa fa-fw fa-2x fa-exclamation-circle text-warning"></td><td> 1-10 pending updates</td></tr>
				<tr><td><span class="fa fa-fw fa-2x fa-exclamation-triangle text-danger"></td><td> Over 10 pending updates</td></tr>
				<tr><td><span class="fa fa-fw fa-2x fa-question-circle text-warning"></td><td> State unknown</td></tr>
				</table>
				<p>&nbsp;</p>
				<h2>Backup status</h2>
				<table style="border-collapse: separate; border-spacing: 10px;">
				<tr><td><span class="fa fa-fw fa-2x fa-check-circle text-success"></td><td> OK</td></tr>
				<tr><td><span class="fa fa-fw fa-2x fa-times-circle text-danger"></td><td> Failed</td></tr>
				<tr><td><span class="fa fa-fw fa-2x fa-exclamation-circle text-warning"></td><td> Partial failure</td></tr>
				<tr><td><span class="fa fa-fw fa-2x fa-calendar-times-o text-warning"></td><td> Out of date</td></tr>
				<tr><td><span class="fa fa-fw fa-2x fa-exclamation-triangle text-danger"></td><td> No backup ever taken</td></tr>
				<tr><td><span class="fa fa-fw fa-2x fa-cog fa-spin text-info"></td><td> In progress</td></tr>
				<tr><td><span class="fa fa-fw fa-2x fa-pause-circle text-primary"></td><td> Disabled</td></tr>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block body %}
<div class="row row-cards-pf">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="card-pf card-pf-accented">
			<div class="title-bar-right"><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#legend" style="margin-top: 5px">What do the icons mean?</button></div>
			<h1 style="padding-bottom: 20px"><span class="fa fa-fw fa-desktop"></span> Systems</h1>
		</div>
	</div>
</div>

<div class="row row-cards-pf">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="card-pf" style="padding: 0px; border-top: none;">

<div class="row toolbar-pf table-view-pf-toolbar" id="toolbar1">
	<div class="col-sm-12">
		<form class="toolbar-pf-actions">
			<div class="form-group toolbar-pf-filter">
				<label class="sr-only" for="filter">Name</label>
				<div class="input-group">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" id="filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Name <span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="#" id="filter1">Name</a></li>
							<li><a href="#" id="filter2">SYS</a></li>
							<li><a href="#" id="filter3">Build</a></li>
							<li><a href="#" id="filter4">CPU</a></li>
							<li><a href="#" id="filter5">RAM</a></li>
							<li><a href="#" id="filter6">GPU</a></li>
							<li><a href="#" id="filter7">Last address</a></li>
						</ul>
					</div>
					<input type="text" class="form-control" placeholder="Filter By Name..." autocomplete="off" id="filterInput">
				</div>
			</div>
		</form>
		<div class="row toolbar-pf-results">
			<div class="col-sm-9">
				<div class="hidden">
					<h5>0 Results</h5>
					<p>Active filters:</p>
					<ul class="list-inline"></ul>
					<p><a href="#">Clear All Filters</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

	<table class="table table-striped table-bordered table-hover" id="table1">
	  <thead>
		<tr>
			<th></th>
			<th>SYS</th>
			<th>Build</th>
			<th>CPU</th>
			<th>RAM</th>
			<th>GPU</th>
			<th>Last seen</th>
			<th>Last seen</th>
			<th>Pending updates</th>
			<th>Pending updates</th>
			<th>Last backup</th>
			<th>Last address</th>
		</tr>
	  </thead>

		<tbody>
			{% for system in systems %}
			<tr>
				<td class="table-view-pf-actions"><a href="{{url_for('system',name=system.name)}}" class="btn btn-lg btn-default" style="text-align: left"><span class="fa fa-fw fa-search"></span> {{system.name}}</a></td>
				<td>{{system.metadata.hwinfo.sys}}</td>
				<td>{{system.drone_manifest or 'site'}}</td>
				<td>{{system.metadata.hwinfo.cpu}}</td>
				<td>{{system.metadata.hwinfo.mem}}</td>
				<td>{{system.metadata.hwinfo.gpu}}</td>
				<td><span class="fa fa-fw fa-lg {% if system['seen_status'] == 0 %}fa-check-circle text-success" title="System seen recently"{% elif system['seen_status'] == -1 %}fa-power-off text-info" title="System powered off"{% elif system['seen_status'] == 1 %}fa-question-circle text-warning" title="Last seen over 3 days ago"{% elif system['seen_status'] == 2 %}fa-exclamation-circle text-warning" title="Last seen over 7 days ago"{% else %}fa-exclamation-triangle text-danger" title="Last seen over a month ago"{%endif%}></span> {{system.last_seen_date}}</td>
				<td>{{system.last_seen_date|dt2uts}}</td>
				<td>{% if system['update_status']['yum_updates'] is defined %}<span class="fa fa-fw fa-lg {% if system.update_status.yum_updates == 0 %}fa-check-circle text-success{% elif system.update_status.yum_updates <= 10 %}fa-exclamation-circle text-warning{% else %}fa-exclamation-triangle text-danger{% endif %}"></span>{{system.update_status.yum_updates}}{% else %}<span class="fa fa-fw fa-lg fa-question-circle text-warning"></span> Unknown{% endif %}</td>
				<td>{% if system['update_status']['yum_updates'] is defined %}{{system.update_status.yum_updates}}{% else %}-1{% endif %}</td>
				<td><span class="fa fa-fw fa-lg {% if system['backup_ostatus'] == 0 %}fa-check-circle text-success" title="Backup OK"{% elif system['backup_ostatus'] == 1 %}fa-times-circle text-danger" title="Last backup failed"{% elif system['backup_ostatus'] == 2 %}fa-exclamation-circle text-warning" title="Partial backup failure"{% elif system['backup_ostatus'] == 3 %}fa-calendar-times-o text-warning" title="Last backup over 3 days ago"{% elif system['backup_ostatus'] == 4 %}fa-exclamation-triangle text-danger" title="No backup ever taken"{% elif system['backup_ostatus'] == 5 %}fa-cog fa-spin text-info" title="Backup in progress"{% elif system['backup_ostatus'] == 6 %}fa-pause-circle text-primary" title="Backups disabled"{%endif%}></span> {% if system['backup_ostatus'] != 6 %} {{system.backup_swhen or 'Unknown'}} {% else %} <span class="text-muted">Backups disabled</span>{%endif%}</td>
				<td>{{system.last_seen_addr}}</td>
			</tr>
			{% endfor %}
	</table>

	<form class="content-view-pf-pagination table-view-pf-pagination clearfix" id="pagination1">
	  <div class="form-group">
		<select class="selectpicker pagination-pf-pagesize">
		  <option value="5">5</option>
		  <option value="10" >10</option>
		  <option value="15">15</option>
		  <option value="25" selected="selected">25</option>
		  <option value="50">50</option>
		</select>
		<span>per page</span>
	  </div>
	  <div class="form-group">
		<span><span class="pagination-pf-items-current">1-25</span> of <span class="pagination-pf-items-total">75</span></span>
		<ul class="pagination pagination-pf-back">
		  <li class="disabled"><a href="#" title="First Page"><span class="i fa fa-angle-double-left"></span></a></li>
		  <li class="disabled"><a href="#" title="Previous Page"><span class="i fa fa-angle-left"></span></a></li>
		</ul>
		<label for="pagination1-page" class="sr-only">Current Page</label>
		<input class="pagination-pf-page" type="text" value="1" id="pagination1-page"/>
		<span>of <span class="pagination-pf-pages">5</span></span>
		<ul class="pagination pagination-pf-forward">
		  <li><a href="#" title="Next Page"><span class="i fa fa-angle-right"></span></a></li>
		  <li><a href="#" title="Last Page"><span class="i fa fa-angle-double-right"></span></a></li>
		</ul>
	  </div>
	</form>

	<!-- Blank Slate HTML -->
	<div class="blank-slate-pf table-view-pf-empty hidden" id="emptyState1">
	  <div class="blank-slate-pf-icon">
		<span class="fa fa-fw fa-exclamation-triangle"></span>
	  </div>
	  <h1>
		No systems!
	  </h1>
	  <p>
		No systems have been registered, yet!
	  </p>
	</div>
	
		</div>
	</div>
</div>

<script>
$(document).ready(function() 
{
	$("#table1").DataTable(
	{
		"columnDefs":
		[
			{ 
				"targets": [ 6 ],
				"orderData":[ 7 ],
			},
			{ 
				"targets": [ 8 ],
				"orderData":[ 9 ],
			},
			{
				"targets": [ 9 ],
				"visible": false,
				"searchable": false
			},
			{
				"targets": [ 7 ],
				"visible": false,
				"searchable": false
			},
		],

		dom: "t",
		language: {
			zeroRecords: "No records found"
		},
		order: [[ 6, 'desc' ]],
		pfConfig:
		{
			emptyStateSelector: "#emptyState1",
			paginationSelector: "#pagination1",
			pageSize: 25,
			filterCaseInsensitive: true,
			filterCols: [
			{
			default: true,
			optionSelector: "#filter1",
			placeholder: "Filter By Name..."
			}, {
			optionSelector: "#filter2",
			placeholder: "Filter By SYS..."
			}, {
			optionSelector: "#filter3",
			placeholder: "Filter By Build..."
			}, {
			optionSelector: "#filter4",
			placeholder: "Filter By CPU..."
			}, {
			optionSelector: "#filter5",
			placeholder: "Filter By RAM..."
			}, {
			optionSelector: "#filter6",
			placeholder: "Filter By GPU..."
			}, null, {
			optionSelector: "#filter7",
			placeholder: "Filter By Last address..."
			}],
			paginationSelector: "#pagination1",
			toolbarSelector: "#toolbar1",
		}
	});
});
</script>


<script>
// Initialize Datatables
$(document).ready(function() {
$('.datatable').dataTable();
});
</script>
{% endblock %}
