<!doctype html>
<html lang="en" class="login-pf">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
		<title>{% if title %}{{ title }}{% endif %}</title>		
		<link href="{{url_for('static',filename='patternfly/css/patternfly.min.css')}}" rel="stylesheet" media="screen, print">
		<link href="{{url_for('static',filename='patternfly/css/patternfly-additions.min.css')}}" rel="stylesheet" media="screen, print">
		{%- block head %}{% endblock %}
		<script src="{{url_for('static',filename='jquery/jquery.min.js')}}"></script>
		<script src="{{url_for('static',filename='bootstrap/bootstrap.min.js')}}"></script>
		<script src="{{url_for('static',filename='patternfly/js/patternfly.min.js')}}"></script>
	</head>

	<body>

  <div class="toast-notifications-list-pf">
    <div class="toast-pf alert alert-warning alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        <span class="pficon pficon-close"></span>
      </button>
      <span class="pficon pficon-warning-triangle-o"></span>
      These examples are included for development testing purposes.  For official documentation, see <a href="https://www.patternfly.org" class="alert-link">https://www.patternfly.org</a> and <a href="http://getbootstrap.com" class="alert-link">http://getbootstrap.com</a>.
    </div>
  </div>

  <body>
<span id="badge">
  <img src="{{url_for('static',filename='patternfly/img/logo.svg')}}" alt="PatternFly logo" />
</span>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div id="brand">
        Test text
      </div><!--/#brand-->
    </div><!--/.col-*-->
    <div class="col-sm-7 col-md-6 col-lg-5 login">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputUsername" class="col-sm-2 col-md-2 control-label">Username</label>
          <div class="col-sm-10 col-md-10">
            <input type="text" class="form-control" id="inputUsername" placeholder="" tabindex="1">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-sm-2 col-md-2 control-label">Password</label>
          <div class="col-sm-10 col-md-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="" tabindex="2">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-8 col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-6">
            <div class="checkbox">
              <label>
                <input type="checkbox" tabindex="3"> Remember username
              </label>
            </div>
            <span class="help-block"> Forgot <a href="#" tabindex="5">username</a> or <a href="#" tabindex="6">password</a>?</span>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 submit">
            <button type="submit" class="btn btn-primary btn-lg" tabindex="4">Log In</button>
          </div>
        </div>
      </form>
    </div><!--/.col-*-->
    <div class="col-sm-5 col-md-6 col-lg-7 details">
      <p><strong>Welcome to PatternFly!</strong>
        This is placeholder text, only. Use this area to place any information or introductory message about your application that may be relevant for users. For example, you might include news or information about the latest release of your product here&mdash;such as a version number.</p>
    </div><!--/.col-*-->
  </div><!--/.row-->
</div><!--/.container-->

		<!--<div class="container">
			<div id="loginbox">
				<h1>Login</h1>
				{% for category, message in get_flashed_messages(with_categories=true) %}
				<div class="alert {{ category }}">
					<a data-dismiss="alert" class="close" href="#">×</a>
					{{ message }}
				</div>
				{% endfor %}

				<form id="loginform" role="form" action="{{ url_for('login') }}" method="POST" class="text-left">
					<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
					{% if next %}
					<input name="next" type="hidden" value="{{next}}"/>
					{% endif %}
					<div class="form-group">
						<label for="username">Username:</label>
						<input type="text" class="login-input form-control" id="loginUsername" name="username">
					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="password" class="login-input form-control" id="loginPassword" name="password">
					</div>
					<div class="checkbox hidden-xs">
						<label>
							<input type="checkbox" class="" value="sec" id="sec" name="sec"> Keep me logged in on this computer <span class="glyphicon glyphicon-question-sign" data-toggle="popover" data-placement="bottom" title="Login Security" data-trigger="hover" data-content="If you are on a private computer you trust then selecting this option will keep you logged in even if you close the browser window. Do not use this on public or shared computers."></span>
						</label>
					</div>
					<div class="form-group text-center submit-box">
						<button class="btn btn-default btn-lg" type="submit">Login</button>
					</div>
				</form>
			</div>
		</div>-->
	</body>
</html>
