/* Allow navbar links to look ok - this is for the login button */
.nav-item-wtf
{
	color: #d1d1d1;
	font-size: 14px;
}

.nav-item-wtf:hover,
.nav-item-wtf:focus {
	color: #fff!important;
	text-decoration: none;
}

/* Reduce padding on the list view on permissions */

.deskctl-thin-list
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Special large buttons on software page */
.btn-group-vl>.btn, .btn-vl {
	padding: 4px 10px;
	font-size: 25px;
	line-height: 1.3333333;
	border-radius: 2px;
}

.software-bar-right
{
 	margin-top: 12px;
	float: right !important;
}

.alert-in-bar
{
	padding-right: 20px;
}

[data-toggle="category"]
{
	cursor: pointer;
}

