/* Allow navbar links to look ok - this is for the login button */
.nav-item-wtf
{
	color: #d1d1d1;
	font-size: 14px;
}

.nav-item-wtf:hover,
.nav-item-wtf:focus {
	color: #fff!important;
	text-decoration: none;
}

/* Reduce padding on the list view on permissions */

.deskctl-thin-list
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}
