<!DOCTYPE html>
<html lang="en" class="layout-pf layout-pf-fixed transitions">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}">
		<title>{% if title %}{{ title }}{% endif %}</title>		
		<link href="{{url_for('static',filename='patternfly/css/patternfly.min.css')}}" rel="stylesheet" media="screen, print">
		<link href="{{url_for('static',filename='patternfly/css/patternfly-additions.min.css')}}" rel="stylesheet" media="screen, print">
		<link href="{{url_for('static',filename='css/deskctl.css')}}" rel="stylesheet" media="screen, print">
		{%- block head %}{% endblock %}
		<script src="{{url_for('static',filename='jquery/jquery.min.js')}}"></script>
		<script src="{{url_for('static',filename='bootstrap/bootstrap.min.js')}}"></script>
		<script src="{{url_for('static',filename='patternfly/js/patternfly.min.js')}}"></script>
	</head>
	<body class="cards-pf">
	{% if not is_logged_in() %}
	<div class="modal fade" id="mlogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content scalefont-lg">
				<form role="form" action="{{ url_for('login') }}" method="POST" class="form-horizontal" >
					<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
					<input name="next" type="hidden" value="{{ request.path }}"/>

					<div class="modal-body">
						<p class="modal-p">Please enter your username & password to make changes to this system:
						<div class="form-group">
							<label class="col-sm-3 control-label">Username:</label>
							<div class="col-sm-9">
								<input id="loginusername" name="username" type="text" class="scalefont-lg form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Password:</label>
							<div class="col-sm-9">
								<input name="password" type="password" class="scalefont-lg form-control">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="scalefont-lg btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="scalefont-lg btn btn-primary">Sign in</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	{% endif %}
	{%- block modals %}{% endblock %}
  <nav class="navbar navbar-pf-vertical">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand" style="padding-top: 0px; padding-bottom: 0px; line-height: 56px;">
      <span style="font-weight: 800; font-size: 18px; letter-spacing: 5px;">DESKTOP MANAGER</span> <span style="font-size: 16px;">{{ hostname }}</span>
    </a>
  </div>
  <nav class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right navbar-iconic">
		{%- if is_logged_in() %}
      <li class="dropdown">
        <a class="dropdown-toggle nav-item-wtf nav-item-iconic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span title="Username" class="fa fa-fw fa-lock"></span> Authenticated as {{session.name}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{{url_for('logout')}}">Logout</a></li>
        </ul>
      </li>
		{%- else %}
      <li>
        <a href="#" data-target="#mlogin" data-toggle="modal" class="nav-item-wtf nav-item-iconic">
          <span title="Help" class="fa fa-fw fa-unlock-alt"></span> Click here to make changes to this computer
        </a>
      </li>
		{%- endif %}

    </ul>
  </nav>
</nav> <!--/.navbar-->
<div class="nav-pf-vertical nav-pf-vertical-with-sub-menus">
  <ul class="list-group">
    <li class="list-group-item{% if active == 'overview' %} active{%endif%}">
      <a href="{{ url_for('default') }}">
        <span class="fa fa-tachometer" data-toggle="tooltip" title="Overview"></span>
        <span class="list-group-item-value">Overview</span>
      </a>
    </li>
    <li class="list-group-item{% if active == 'software' %} active{%endif%}">
      <a href="{{ url_for('software') }}">
        <span class="fa fa-fw fa-archive" data-toggle="tooltip" title="Software"></span>
        <span class="list-group-item-value">Software</span>
      </a>
    </li>
    <li class="list-group-item{% if active == 'updates' %} active{%endif%}">
      <a href="{{ url_for('updates') }}">
        <span class="fa fa-cloud-download" data-toggle="tooltip" title="Software updates"></span>
        <span class="list-group-item-value">Updates</span>
        
      </a>
    </li>
    <li class="list-group-item secondary-nav-item-pf{% if active == 'permissions' %} active{%endif%}" data-target="#perms-secondary">
      <a>
        <span class="fa fa-lock" data-toggle="tooltip" title="Permissions"></span>
        <span class="list-group-item-value">Permissions</span>
      </a>
      
      <div id="perms-secondary" class="nav-pf-secondary-nav">
  <div class="nav-item-pf-header">
    <a class="secondary-collapse-toggle-pf" data-toggle="collapse-secondary-nav"></a>
    <span>Permissions</span>
  </div>
  <ul class="list-group">
    <li class="list-group-item{% if activegrp == 'users' %} active{%endif%}">
      <a href="{{ url_for('permissions',group='users') }}">
        <span class="list-group-item-value">SSH Access</span>
      </a>
    </li>
	{% if vboxexists %}
    <li class="list-group-item{% if activegrp == 'vboxusers' %} active{%endif%}">
      <a href="{{ url_for('permissions',group='vboxusers') }}">
        <span class="list-group-item-value">VirtualBox</span>
      </a>
    </li>
	{% endif %}
    <li class="list-group-item{% if activegrp == 'sys' %} active{%endif%}">
      <a href="{{ url_for('permissions',group='sys') }}">
        <span class="list-group-item-value">Administrators</span>
      </a>
    </li>
    <li class="list-group-item{% if activegrp == 'wheel' %} active{%endif%}">
      <a href="{{ url_for('permissions',group='wheel') }}">
        <span class="list-group-item-value">Root Access</span>
      </a>
    </li>
  </ul>
</div>

      
    </li>
    <li class="list-group-item{% if active == 'backup' %} active{%endif%}">
      <a href="{{ url_for('backup') }}">
        <span class="pficon pficon-history" data-toggle="tooltip" title="Backup"></span>
        <span class="list-group-item-value">Backup</span>
      </a>
    </li>
    <li class="list-group-item{% if active == 'policy' %} active{%endif%}">
      <a href="{{ url_for('policy') }}">
        <span class="fa fa-gears" data-toggle="tooltip" title="System Policy"></span>
        <span class="list-group-item-value">System Policy</span>
      </a>
    </li>
    <li class="list-group-item">
      <a href="http://linuxdesktops.readthedocs.io">
        <span class="fa fa-info-circle" data-toggle="tooltip" title="Documentation"></span>
        <span class="list-group-item-value">Documentation</span>
      </a>
    </li>
  </ul>
</div>
<div class="container-fluid container-cards-pf container-pf-nav-pf-vertical">
	<div style="margin-left: auto; margin-right: auto">
			{%- for category, message in get_flashed_messages(with_categories=true) %}
			<div class="alert {{ category }}">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true"><span class="pficon pficon-close"></span></button>
				{% if category == 'alert-danger' %}<span class="pficon pficon-error-circle-o"></span>{%endif%}
				{% if category == 'alert-warning' %}<span class="pficon pficon-warning-triangle-o"></span>{%endif%}
				{% if category == 'alert-info' %}<span class="pficon pficon-info"></span>{%endif%}
				{% if category == 'alert-success' %}<span class="pficon pficon-ok"></span></i>{%endif%}
				{{ message }}
			</div>
			{%- endfor %}
			{%- block body %}{% endblock %}
	</div>
</div>
<script>
$(document).ready(function()
{
	$().setupVerticalNavigation(true);

	$('#mlogin').on('shown.bs.modal', function ()
	{
		$('#loginusername').focus();
	});

	$('[data-toggle="tooltip"]').tooltip(); 
});
</script>

	</body>
</html>
