{% extends "layout.html" %}
{% block body %}

<div class="row row-cards-pf">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="card-pf card-pf-accented">
			<div class="software-bar-right">
				<a id="pkgrefresh" class="btn btn-default btn-vl"><i class="fa fa-refresh"></i></a>
			</div>
			<h1 style="padding-bottom: 20px">Software Packages</h1>
		</div>
	</div>
</div>

<div class="row row-cards-pf">
	<div class="col-xs-12 col-sm-3">
		<div class="card-pf">
		  <div class="card-pf-body">
			<ul class="nav nav-pills nav-stacked">
				{% for cat in categories %}
				<li  class="category-item{% if cat.id == category %} active{%endif%}"><a data-id="{{cat.id}}" data-toggle="category">{{cat.name}}</a></li>
				{% endfor %}
			</ul>
		  </div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-9">
		<div class="row" id="pkgarea">
		</div>
	</div>
</div>
<script>
function loadPkgs()
{
	$("#pkgarea").load( "/ajax/software/entries/" + window.catid, function()
	{
		$('[data-toggle="entryclk"]').click(function(event)
		{
			action = $(this).data('action');
			entryid = $(this).data('id');

			$.post( "{{url_for('ajax_entry_post')}}", { 'action': action, 'id': entryid, '_csrf_token': '{{ csrf_token() }}' } )
				.done(function( data ) {
					loadPkgsShow();
					loadPkgs();
				  });
		});
	});
}

function loadPkgsShow()
{
	$("#pkgarea").html('<div class="text-center"><i class="fa fa-refresh fa-spin fa-fw text-muted" style="font-size: 10vw"></i></div>');
}


$(document).ready(function()
{
	loadPkgsShow();
	window.catid = {{category}};
	loadPkgs();
 
	window.setInterval(function()
	{
		loadPkgs();
	}, 10000);

	$('[data-toggle="category"]').click(function(event)
	{
		window.catid = $(this).data('id');

		$(".category-item").each(function()
		{
			$(this).removeClass('active');
		});

		$(this).closest("li").addClass('active');

		loadPkgsShow();
		loadPkgs();
	});

	$('#pkgrefresh').click(function(event)
	{
		loadPkgsShow();
		loadPkgs();
	});

});
</script>

{% endblock %}
