{% extends "layout.html" %}
{% block body %}

<div class="row row-cards-pf">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="card-pf card-pf-accented">
			<div class="software-bar-right">
				<a href="{{url_for('updates')}}" class="btn btn-default btn-vl"><i class="fa fa-refresh"></i></a>
			</div>
			<h1>Software Updates</h1>
			<p style="padding-bottom: 20px">Your system will automatically download software updates in the background. When you're ready to apply them simply reboot your computer and the updates will be installed.</p>
		</div>
	</div>
</div>

<div class="row row-cards-pf">
	<div class="col-xs-12 {% if pkgstatus %}col-sm-9{%else%}col-sm-12{%endif%}">
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<div class="card-pf">
					<div class="card-pf-heading">
						<h2 class="card-pf-title">
						{{status_title}}
						</h2>
					</div>
				  <div class="card-pf-body">
					<pre class="updatepre">{{status}}</pre>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
