.brand-primary
{
	font-weight: 800;
	font-size: 18px;
	letter-spacing: 5px;
}

.brand-secondary
{
	font-size: 16px;
	letter-spacing: 5px;
}

.lidrag
{
	cursor: move;
    cursor: -webkit-grabbing;
}

.list-sortable
{
	font-size: 14px;
}

.lihov:hover
{
	background-color: #def3ff;
}

/* Allow navbar links to look ok - this is for the login button */
.nav-item-wtf
{
	color: #d1d1d1;
	font-size: 14px;
}

.nav-item-wtf:hover,
.nav-item-wtf:focus {
	color: #fff!important;
	text-decoration: none;
}

.card-btns-right
{
 	margin-top: 12px;
	float: right !important;
}

.btn-group-vl>.btn, .btn-vl {
	padding: 4px 10px;
	font-size: 25px;
	line-height: 1.3333333;
	border-radius: 2px;
}

/* Special large buttons on software page */
.btn-group-vlt>.btn, .btn-vlt {
	padding: 8px 12px;
	font-size: 16px;
	line-height: 1.3333333;
	border-radius: 2px;
}

