{% extends "layout.html" %}
{% block head %}
<script src="{{url_for('static',filename='sortable/sortable.min.js')}}"></script>
{% endblock %}
{% block modals %}
	<div class="modal fade" id="popmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
			<form role="form" method="POST" class="form-horizontal" >
			<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
			<input name="action" type="hidden" value="add"/>
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
		            <span class="pficon pficon-close"></span>
		          </button>
					<h4 class="modal-title" id="poptitle"></h4> 
		        </div>
		        <div class="modal-body">
					<p id="popbody"></p>
		        </div>
		        <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
			</form>
          </div>
        </div>
      </div>
{% endblock %}
{% block jsready %}
	var el = document.getElementById('items');
	var sortable = Sortable.create(el, {
		handle: ".lidrag"
	});
	$('#saveorder').click(function()
	{
		ids = JSON.stringify(sortable.toArray());

		$.post( "{{url_for('pkgdb_categories')}}", { 'action': 'update', 'neworder': ids, '_csrf_token': '{{ csrf_token() }}' } )
			.done(function( data )
			{
				$("#poptitle").html("Category order");
				$("#popbody").html("The category order was successfully updated");
				$("#popmodal").modal('show');
			})
			.fail(function(xhr, textStatus, errorThrown)
			{
				$("#poptitle").html("Error");
				$("#popbody").html("An error occured whilst updating the category order: " + errorThrown);
				$("#popmodal").modal('show');
			});
	});
{% endblock %}
{% block body %}

<div class="row row-cards-pf">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="card-pf card-pf-accented">
			<h1>Software Categories</h1>
			<p style="padding-bottom: 20px">Changes you make here take effect on the desktop management page on desktops. 
		</div>
	</div>
</div>

<div class="row row-cards-pf">
	<div class="col-xs-12 {% if pkgstatus %}col-sm-9{%else%}col-sm-12{%endif%}">
		<div class="row">
			<div class="col-xs-12 col-sm-8">
				<div class="card-pf">
					<div class="card-pf-heading">
						<h2 class="card-pf-title">
						Categories
						</h2>
					</div>
				  <div class="card-pf-body">
					<ul id="items" class="list-group list-sortable">
						{% for cat in categories %}
						<li class="list-group-item lihov" data-id="{{cat.id}}">
							<span class="pull-right"><a href="" class="btn btn-sm btn-default">Manage Packages</a></span>
							<span class="fa fa-fw fa-bars lidrag"></span> {{cat.name}}
						</li>
						{% endfor %}
					</ul>
					<div class="text-center">
						<button id="saveorder" class="btn btn-primary btn-lg"><i class="fa fa-sort"></i> Save category order</a>				
					</div>
				  </div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="card-pf">
					<div class="card-pf-heading">
						<h2 class="card-pf-title">
						Create new category
						</h2>
					</div>
				  <div class="card-pf-body">
					<form role="form" action="{{ url_for('pkgdb_categories') }}" method="POST">
						<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
						<input name="action" type="hidden" value="new"/>
					  <div class="form-group">
						<label for="nameInput">Name</label>
						<input type="text" class="form-control" id="nameInput" name="name" placeholder="Category display name">
					  </div>
					  <div class="form-group text-center">
						  <button type="submit" class="btn btn-primary">Create</button>
					  </div>
					</form>
					<p>Please consider using an existing category before creating a new one - the more categories, the more a user has to browse around.</p>

				  </div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
